<html>
<head>
    <!-- The param which is pased from render -->
    <title><%= title %></title>
</head>
<body>
  <div>
    <a href="/">Home</a> |
    <a href="/store/add">Add New Item</a> |
    <a href="/store">List all items</a>
  </div>
  <h1><%= title %></h1>
